# Environment variables
.env

# Django settings
# settings.py

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Log files
*.log